name: C/C++ CI

on:
  push:
    branches: 
    - master
    - dev
  pull_request:
    branches: 
    - master
    - dev

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: aclocal
      run: aclocal
    - name: autoconf
      run: autoconf  
    - name: configure
      run: ./configure
    - name: automake
      run: automake --add-missing
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
